.swiper-button-prev::after {
    background-image: none;
    color: black;
    margin-left: 30px;
}
.swiper-button-next::after {
    background-image: none;
    color: black;
    margin-right: 30px;
}
